<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bitquery Logo -->
    <link rel="icon" href="https://test.bitquery.io/wp-content/uploads/2020/08/favicon.png" />
    <link rel="apple-touch-icon" href="https://test.bitquery.io/wp-content/uploads/2020/08/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS with Bitquery API</title>
    <script src="../index.js"></script> 
</head>
<body>
	<style>
		header{
			background-color: rgb(241, 237, 9); 
			color: white;
			font-family: 'Lucida Sans';
			text-align: center; 
			margin: 5px;
		}

		body {
			background: linear-gradient(to top left, #e8ee8f, #b3fcf8)
		}
		h2{
			text-align: center;
			margin: 10px;
			padding: 10px;
			font-family: 'Lucida Sans' ;
		}
	</style>
	<header>
		<h1>Using Bitquery GraphQL API with NodeJS</h1>
	</header>
	<h2>The BaseAmount of OHLC data's 1st element is <%= result %></h2>
	<h2>The New Pair's name is : <%= result2 %></h2>
	<h2>The New Pair's height is : <%= result3 %></h2>
	<h2>The count of trades taking place on Uniswap is : <%= result4 %></h2>
	<h2>The most traded token on Ethereum network is : <%= result6 %></h2>
	<h2>The name of the DEX exchange on the Ethereum network with highest number of trades is : <%= result7 %></h2>
	<h2>The amount traded for DEX trades by exchange on Ethereum is : <%= result8 %></h2>
	<h2>The number of trades on sorting traded currencies by time is : <%= result10 %></h2>
	<h2>The number of contracts for traded currencies by count is : <%= result11 %></h2>
	<h2>The number of trades in the trade taker segment on Ethereum network is : <%= result12 %></h2>
	<h2>The top trader in the Trade takers segment on the Ethereum network is : <%= result13 %></h2>
	<h2>The number of trades taking place on the ethereum network by time is : <%= result15 %></h2>
</body>
</html>